<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anak Rantau</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <header class="text-center my-8">
            <h1 class="text-4xl font-bold">Anak Rantau</h1>
            <p class="text-xl text-gray-600">Karya A Fuadi</p>
        </header>
        <div class="img1text">
            <div class="img">
                <img src="{{ url_for('static', filename='images/anak rantau img.png') }}" alt="Cover Anak Rantau" class="imgaran">
            </div>
            <div class="text">
                <h2>Sinopsis</h2>
                <p>
                    Hepi, perantau bujang yang menyalakan dendam di tepi danau.
                    Martiaz, ayah yang pecah kongsi dengan anaknya di simpang jalan.
                    Datuk, kakek yang ingin menebus dosa masa lalu di tengah surau.
                    Pandeka Luko, pahlawan gila yang mengobati luka lama di rumah usang.
                    Apakah "alam terkembang jadi guru" menjadi amanat hidupnya?
                    Mungkinkan maaf dan lupa menjadi penawar bagi segenap luka?
                    Ikuti petualangan Hepi bersama Attar penembak jitu dan Zen penyayang binatang, bertemu semua tokoh ini, bertualang mendatangi sarang jin, menghadapi lelaki bermata harimau, memburu biduk hantu, dan menyusup ke markas pembunuh. Semuanya demi melunasi sebuah dendam, sebuah rindu.
                </p>
            </div>
        </div>
        <footer class="mt-8 text-center">
            <a href="/karakter" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Selanjutnya</a>
        </footer>
    </div>
</body>
</html>