<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Penutup - Anak Rantau</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <header class="text-center my-8">
            <h1 class="judul">Penutup</h1>
            <p class="text-xl text-gray-600">Novel Anak Rantau</p>
        </header>
        <div class="imgend">
            <img src="{{ url_for('static', filename='images/anak rantau img.png') }}" alt="Cover Anak Rantau" class="imgaran">
        </div>
        <section class="mt-8">
            <h2 class="title">Sebuah kisah yang akan menyentuh hatimu</h2>
            <p class="deskripsi">
                Format Buku: Softcover -382 Halaman
            </p>
            <p class="deskripsi">
                Novel yang menceritakan tentang perjalanan seorang anak rantau yang penuh dengan petualangan, konflik, dan pelajaran hidup. Dengan karakter yang kuat dan cerita yang mendalam, novel ini akan membawa pembaca merasakan setiap emosi yang dialami oleh tokoh-tokohnya.
            </p>
        </section>
        <footer class="mt-8 text-center">
            <a href="/tema_pesan" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded mr-2">Kembali</a>
            <a href="https://www.gramedia.com/products/anak-rantau " target="_blank" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Dapatkan novel ini segera</a>
        </footer>
        <div class="identity">
            <p class="text-lg text-gray-700">Website ini dibuat oleh Kendrick Halim dengan NIM 2321113973</p>
            
        </div>
    </div>
</body>
</html>