<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tema dan Pesan - Anak Rantau</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <header class="text-center my-8">
            <h1 class="text-4xl font-bold">Tema dan Pesan</h1>
            <p class="text-xl text-gray-600">Novel Anak Rantau</p>
        </header>
        <section class="mt-8">
            <p class="deskripsi1">
                Apakah "alam terkembang jadi guru" menjadi amanat hidupnya? Mungkinkan maaf dan lupa menjadi penawar bagi segenap luka?
            </p>
        </section>
        <footer class="mt-8 text-center">
            <a href="/petualangan" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded mr-2">Kembali</a>
            <a href="/penutup" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Selanjutnya</a>
        </footer>
    </div>
</body>
</html>